@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply typo-h1;
  }

  h2 {
    @apply typo-h2;
  }

  h3 {
    @apply typo-h3;
  }

  h4 {
    @apply typo-h4;
  }

  h5 {
    @apply typo-h5;
  }

  h6 {
    @apply typo-h6;
  }
}

@layer components {
  .typo-h1 {
    font-style: normal;
    font-weight: 500;
    font-size: 56px;
    line-height: 72px;
  }

  .typo-h2 {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 64px;
  }

  .typo-h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 48px;
  }

  .typo-h4 {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
  }

  .typo-h5 {
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 36px;
  }

  .typo-h6 {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
  }

  .typo-subtitle {
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
  }

  .typo-subtitle-small {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
  }

  .typo-article {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .typo-body {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
  }

  .typo-body-small {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  .typo-caption {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
  }

  .typo-caption-small {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 18px;
  }

  .apply-transition {
    @apply transition-all duration-200;
  }

  .input {
    @apply w-full h-11 bg-slate-50 focus:bg-white border border-slate-300 hover:border-slate-500 focus:border-primary-normal focus:ring focus:ring-primary-32 rounded outline-0 py-2 px-4 apply-transition;

    &.error {
      @apply text-red-500 border-red-500 bg-red-50 hover:border-red-700 focus:border-red-500 focus:ring-red-300;
    }
  }
}